#imageViewerDiv
{
	pointer-events: none;
	margin-top: 15px;
	height: 300px;
}

#imageViewerContent
{
	pointer-events: auto;
	position: absolute;
	right: -254px;
	width: 275px;
}

/*** Show/hide arrow ***/
#imageViewInvoker
{
	border: 1px solid orange;
	border-radius: 5px 0px 0px 5px;
	vertical-align: top;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("images/arrowSprite.png") 0 0 no-repeat;
	background-position: 0px 0px;
}

#imageViewInvoker:hover
{
	cursor: pointer;
}

#loadedImages
{
	display: inline-block;
	width: 240px;
	max-height: 285px;
	padding: 5px;
	border: orange 1px solid;
	border-color: rgba(255, 143, 0, 0.8);
	overflow-y: auto;
	border-radius: 0px 10px 10px 10px;
	margin-left: -5px;
}

#loadedImages ul
{
  list-style: none;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*** Layer items ***/
#loadedImages .imageLayers
{
	margin: 0px;
	padding: 0px;
}

.imageLayers > .layer > ul
{
	font-size: 0.7em;
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

#loadedImages .layer > label:hover
{
	cursor: pointer;
}


#loadedImages .layerName
{
	width: 85%;
	vertical-align: bottom;
	text-overflow: ellipsis;
	overflow-x: hidden;
	display: inline-block;
}


/*** Image items ***/
#loadedImages .image > label:hover
{
	cursor: pointer;
}

#loadedImages .imageName
{
	width: 160px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	display: inline-block;
	position: relative;
	z-index: 1;
	vertical-align: middle;
}



#loadedImages .ui-accordion-content
{
	padding: 0.5em 0.5em;
	max-height: 150px;
}

.layerVisibility+label
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.image
{
	position: relative;
	margin-bottom: 3px;
}

/*** Progress bar ***/
#loadedImages .progress {
	opacity: 0.8;
	top: 0px;
	left: 20px;
	width: 80%;
	height: 16px;
	position: absolute;
	bottom: -5px;
	background: #292929;
	border: 1px solid #111;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #333;
}

#loadedImages .progress div {
	text-align: right;
	height: 100%;
	color: #fff;
	font-size: 12px;
	line-height: 8px;
	width: 0;
	background-color: #0078a3
}

/*** Different item options: zoomTo, delete, imageProcessing ***/
#loadedImages .options
{
	margin-left: 20px;
}

#loadedImages .zoomTo, #loadedImages .delete, #loadedImages .imageProcessing, #loadedImages .metaData, #loadedImages .sendImage
{
	height: 20px;
	width: 20px;
	margin: 0px;
}