/*****************************
/***	Service tabs		*/
/****************************/
#layerServices
{
	margin: 10px;
	background: transparent;
	border: none;
}

/*** Stylizing tabs ***/
#layerServices > .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#layerServices > ul > li.ui-state-default {
	background: transparent;
	border: none;
}
#layerServices > ul > li.ui-state-active {
	background: transparent url(images/uiTabsArrow.png) no-repeat bottom center;
	border: none;
}
#layerServices > ul > li.ui-state-default a {
	color: #c0c0c0;
}
#layerServices > ul > li.ui-state-active a {
	color: orange;
	outline: none;
}
#layerServices > ul > li.ui-state-focus a {
	outline: none;
}

/****************************/
/*     OpenSearchService	*/
/****************************/
.formProperty
{
	padding: 5px;
}

.openSearchForm
{
	text-align: center;
}

/*** Key fields ***/
.openSearchForm > label
{
	width: 200px;
	display: inline-block;
	text-align: left;
}

/*** Value fields ***/
.openSearchForm > select, .openSearchForm > input
{
	width: 150px;
	border: 1px solid #999;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.openSearchForm > input:focus
{
	border: 1px solid #09C;
	box-shadow: 0px 0px 8px rgba(9, 211, 195, 0.75);
}

/*** Submit button ***/
.openSearchForm > input.submit
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background: #09C;
	color: white;
	height: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(9, 211, 195, 0.75);
	border: none;
	width: 150px;
	display: block;
}

.openSearchForm > input.submit:hover
{
	background:#fff;
	color:#09C;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#openSearchTabs
{
	border: none;
	background: none;
}

#openSearchTabs .ui-tabs-nav
{
	border: none;
	background: none;
}

#openSearchTabs > ul > li
{
	margin-right: 5px;
}

#openSearchTabs > ul > li.ui-state-default
{
	border-radius: 6px;
}

#openSearchTabs > ul > li.ui-state-active
{
	border-width: 1px;
	border-color: #F58400;
	box-shadow: 0 0 10px #F58400, inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

#openSearchTabs > div
{
	font-size: 1.1em;
	position: relative;
	top: 15px;
	padding-top: 15px;
	border-radius: 6px;
	box-shadow: 0px 0px 15px rgb(240, 240, 240), inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/****************************/
/*   	  Moc service		*/
/****************************/

.mocLayer
{
	position: relative;
	vertical-align: middle;
	margin: 3px;
}

.mocName
{
	display: inline-block;
	vertical-align: inherit;
	margin-right: 5px;
}

.mocStatus
{
	color: red;
	vertical-align: inherit;
}

.mocCoverage
{
	float: right;
	top: 4px;
	position: relative;
}

#intersectMocBtn
{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	display: block;
}

/****************************/
/*   	  Fits manager		*/
/****************************/

#progressBars
{
	position: absolute;
	right: 20px;
	top: 60px;
}

.progressDiv
{
	position: relative;
	right: -220px;
	z-index: 9000;
	padding: 5px;
	margin: 5px;
}

.progressBar .ui-progressbar-value 
{
	background: orange;
}

.progressId
{
	color: white;
}

.progress-label
{
	float:left;
	margin-left: 48%;
	margin-top: 5px;
	font-weight: bold;
}

/****************************/
/*   	  UWS service		*/
/****************************/

#uwsOptions
{
	width: 100px;
}

/*** CutOut ***/

#cutOut
{
	margin-top: 5px;
	font-size: 1.1em;
	position: relative;
	top: 15px;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 0px 15px rgb(240, 240, 240), inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

#runJob
{
	margin-top: 10px;
	width: 50px;
}

#cutOutResults
{
	overflow-y: auto;
	max-height: 100px;
}

#cutOut > hr
{
	background-color: rgb(105, 105, 105);
	border: 0px;
	height: 1px;
}

/*** zScale ***/

#zScale
{
	margin-top: 5px;
	font-size: 1.1em;
	position: relative;
	top: 15px;
	padding: 15px;
	border-radius:6px;
	box-shadow: 0px 0px 15px rgb(240, 240, 240), inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

/*** HEALPixCut ***/

#HEALPixCut input
{
	box-shadow: 0px 0px 3px 1px #F8A102;
	border-radius: 3px;
	padding: 3px;
	border: 1px solid transparent;
	background-color: transparent;
	color: #F6931F;
	font-weight: bold;
	outline: none;
}

#HEALPixCut input:focus
{
	box-shadow: 0px 0px 3px 1px #6BCAFF;
}

.inputError
{
	box-shadow: 0px 0px 3px 1px #FF0000 !important;
}

/*** CutOut & HEALPixCut ***/

.cutResult .sampExport, .cutResult .deleteResult
{
	cursor: pointer;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
