/*** Define absolute position ***/
#mollweideDiv {
	position: absolute;
	left: -266px;	
	width: 292px;	
	overflow: hidden;
	pointer-events: auto;
}

/*** Fov info + canvas ***/
#mollweideContent {
	border: solid 1px orange;
	display: inline-block;
	border-radius: 10px 10px 0px 10px;
	margin: 5px;	/* to show shadow */
}

/*** Show/hide arrow ***/
#slideArrow {
	border: 1px solid orange;
	border-radius: 0px 5px 5px 0px;
	vertical-align: bottom;
	display: inline-block;
	margin: 5px 5px 5px -10px;
	width: 20px;
	height: 20px;
	background: url("images/arrowSprite.png") 0 0 no-repeat;
	background-position: 0px -20px;
}

#slideArrow:hover {
	cursor: pointer;
}

#mollweideCanvas {
	margin: 10px 10px 10px 10px;
}