/************************************/
/*		Name resolver search		*/
/************************************/

#searchDiv {
    pointer-events: auto;
    padding-bottom: 10px;
}

/*** Form for enter validating ***/
#searchForm {
    margin-bottom: 0px;
    position: fixed;
}

#searchForm fieldset {
    position: relative;
    border: none;
}

/*** Input div style ***/
div.searchInputDiv {
    width: 200px;
    padding: 5px 15px 7px 15px;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
    background: #E8EDF1;
    padding-left: 30px;
}

div.searchInputDiv.focus {
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

/*** Object name text input ***/
#searchInput {
    width: 100%;
    border: 0;
    background: transparent;
    height: 16px;
    color: #b4bdc4;
    text-shadow: 0 1px 1px #fff;
}

#searchInput:focus {
    outline: none
}

/*** Submit/clear buttons ***/
#searchForm fieldset > input {
    position: absolute;
    top: 12px;
    border: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

/*** Submit button ***/
input#searchSubmit {
    display: block;
    background: url(../css/images/searchSubmit-icon.png) no-repeat;
    left: 18px;
}

/*** Clear button ***/
input#searchClear {
    background: url(../css/images/searchClear-icon.png) no-repeat;
    right: 18px;
    display: none;
}

/*** Result field ***/
#resolverSearchResult {
    text-align: center;
    width: 210px;
    margin-left: 30px;
    color: white;
    padding: 5px;
}

#resolverSearchResult .selected {
    box-shadow: 0 0 10px #FF9E52, 0 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 3px
}

#resolverSearchResult:hover {
    cursor: pointer;
}

#searchSpinner {
    background: url(../css/images/whiteSpinner.gif) no-repeat;
    width: 15px;
    height: 15px;
    background-size: 100%;
    position: absolute;
    top: 15px;
    right: 21px;
}

.layerResolverResult, .coordinatesResolverResult {
    margin-bottom: 5px;
    padding: 5px;
}

.credits {
    font-size:xx-small;
}

.layerResolverResult button {
    display: none;
}

.layerResolverResult > .nameResolverResult {
    text-align: left;
}

.layerResolverResult.selected button {
    display: inline-block;
}

.firstNameResolverResult {
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 40px;
}

.firstNameResolverResult hr {
    margin: 0px;
    margin-top: 2px;
}


