#sampInvoker
{
	width: 32px;
	height: 32px;
	border: 0px solid black;
	overflow: hidden;
	outline: none;
	display: inline-block;
	background: url(../css/images/samp_off.png) no-repeat;
	position: relative;
	left: -20px;
	pointer-events: auto;
}

#sampInvoker.selected
{
	background: url(../css/images/samp_on.png) no-repeat;
}

#sampInvoker:hover
{
	cursor: pointer;
}