@import url('layerManager.css');

#lmInvoker
{
	width: 32px;
	height: 32px;
	border: 0px solid black;
	display: inline-block;
	outline: none;
	display: inline-block;
	left: -10px;
	position: relative;
	background: url(../css/images/layers_off.png) no-repeat;
	pointer-events: auto;
	cursor: pointer;
}

#lmInvoker.selected
{
	background: url(../css/images/layers_on.png) no-repeat;
}

#accordion
{
	position: relative;
	left: -255px;
	width: 250px;
	pointer-events: auto;
}

#accordion > div
{
	position: relative;
}

#categoryDiv
{
	pointer-events: none;
	position: absolute;
	z-index: 1;
	top: 10px;
	padding: 0px;
	width: 275px;
	background: rgba(76, 109, 131, 0);
	max-height: 95%;
	overflow: hidden;
}