@import url('jquery-ui.min.css');
@import url('jquery-ui.structure.min.css');
@import url('jquery-ui.theme.min.css');
/*@import url('jquery-ui-timepicker-addon.min');*/
@import url('layerManager.css');
@import url('nameResolver.css');
@import url('reverseNameResolver.css');
@import url('featurePopup.css');
@import url('sidebar.css');
@import url('layerServiceView.css');
@import url('mollweideViewer.css');
@import url('imageProcessing.css');
@import url('share.css');
@import url('samp.css');
@import url('imageViewer.css');
@import url('images/compass.css');
@import url('layerManager.css');
@import url('service.css');
@import url('distanceNavigation.css');
@import url('../node_modules/jquery-datetimepicker/jquery.datetimepicker.css');

em {
    color: #6BCAFF;
}

body {
    background: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/************************/
/*		CRS box		*/
/************************/
.crsBox {
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

/************************/
/*		Error box		*/
/************************/
.errorBox {
    box-shadow: 0 0 6px red, inset 0 1px 2px rgba(0, 0, 0, 0.08);
    border: solid 1px red;
    text-align: center;
}

#webGLNotAvailable, #webGLContextLost {
    padding-top: 300px;
    text-align: center;
    display: none;
    color: white;
}

/****************************/
/*		Attributions		*/
/****************************/

#attributions {
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 2px;
    pointer-events: none;
}


#attributions div {
    color: white;
    text-overflow:ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}

#attributions div:hover {
    text-overflow:clip;
    width:auto;
    white-space: normal;
}

#attributions a {
    pointer-events: auto;
}

/****************************/
/*		Statistics box		*/
/****************************/

.statBox {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
    opacity: 0.8;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px orange;
    font-weight: bold;
}

/************************/
/*		Content box		*/
/************************/
.contentBox {
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
    border: solid 1px orange;
    border-radius: 10px;
    background-color: black;
    z-index: 2;
}

/****************************/
/*		Particular boxes	*/
/****************************/

#fov {
    text-align: center;
    color: white;
}

/*** Iframe containing data from external resource ***/
#externalIFrame {
    left: 10%;
    top: -1000px;
    position: absolute;
    padding: 15px;
    background-color: white;
    z-index: 9003;
}

#IFrameToolbar {
    position: absolute;
    padding: 5px;
    display: inline-block;
    width: auto;
    top: -15px;
    left: -20px;
    height: 20px;
}

#IFrameToolbar button {
    height: 20px;
    width: 20px;
}

#externalIFrame Iframe {
    border: none;
}

.closeBtn {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    display: inline;
}

#GlobWebCanvas {
    z-index: -1;
}

/*** Loading animation gif ***/
#loading {
    width: 48px;
    height: 48px;
    background: url(images/loading.gif) no-repeat;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    z-index: 200;
}

#loadingSplash {
    width: 113px;
    height: 113px;
    background: url(images/pleaseWait.gif) no-repeat;
    position: relative;
    bottom: -100px;
    margin:auto;

}

#splash {
    width:100%;
    height:100%;
    position: absolute;
    background-color: white;
    z-index: 100;
}
#splash > h1 {
    text-align: center;
    color: rgba(34, 12, 64, 0.6);
    font-size:280%;
    padding-top: 5%;
}
#splash-logo {
    position:relative;
    background: url(images/logo_cnes.png) no-repeat;
    bottom: -220px;
    width: 539px;
    height: 200px;
    margin:auto;

}

/*** Navigation options block(nameResolver, compass) ***/
#navigationDiv {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    top: 10px;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 275px;
    max-height: 95%;
}

#compassDiv {
    pointer-events: auto;
    overflow: hidden;
    margin-top: 45px;
    margin-left: 160px;
}

/*** Left bottom components(share, mollweide, stats) ***/
#leftBottomDiv {
    position: absolute;
    left: 5px;
    bottom: 5px;
    pointer-events: none;
}

.leftBottomButton {
    position: relative;
    height: 40px;
    left: 5px;
}

/*** Measure tool ***/
#measureSkyInvoker, #measurePlanetInvoker {
    width: 32px;
    height: 32px;
    border: 0px solid black;
    overflow: hidden;
    outline: none;
    display: inline-block;
    background: url(./images/measure_off.png) no-repeat;
    position: relative;
    left: -20px;
    pointer-events: auto;
}

#measureSkyInvoker.selected, #measurePlanetInvoker.selected {
    background: url(./images/measure_on.png) no-repeat;
}

#measureSkyInvoker:hover, #measurePlanetInvoker:hover {
    cursor: pointer;
}

/*** 2D Switch button ***/
#switch2DButton {
    width: 32px;
    height: 32px;
    border: 0px solid black;
    overflow: hidden;
    outline: none;
    display: inline-block;
    background: url(./images/switch_2d_off.png) no-repeat;
    position: relative;
    left: -20px;
    pointer-events: auto;
}

#switch2DButton.selected {
    background: url(./images/switch_2d_on.png) no-repeat;
}

#switch2DButton:hover {
    cursor: pointer;
}

/*** Warning button ***/
#warningButton {
    width: 32px;
    height: 32px;
    border: 0px solid black;
    overflow: hidden;
    outline: none;
    display: inline-block;
    background: url(./images/warning.png) no-repeat;
    position: relative;
    left: -20px;
    pointer-events: auto;
}

/*** Search tool ***/
#searchInvoker {
    width: 32px;
    height: 32px;
    border: 0px solid black;
    overflow: hidden;
    outline: none;
    display: inline-block;
    background: url(./images/search_off.png) no-repeat;
    position: relative;
    left: -20px;
    pointer-events: auto;
}

#searchInvoker.selected {
    background: url(./images/search_on.png) no-repeat;
}

/*** Export tool ***/
#exportInvoker {
    width: 32px;
    height: 32px;
    border: 0px solid black;
    overflow: hidden;
    outline: none;
    display: inline-block;
    background: url(./images/export_off.png) no-repeat;
    position: relative;
    left: -20px;
    pointer-events: auto;
}

#exportInvoker.selected {
    background: url(./images/export_on.png) no-repeat;
}

#exportInvoker:hover {
    cursor: pointer;
}

/*** tracker on bottom ***/
#tracker {
    position: absolute;
    left: 40%;
    color: white;
    bottom: 0;
}

/*** TrackerInfo button ***/
#posTrackerInfo {
    position: relative;
    float:left;
    padding-right: 16px;
    display: none;
    z-index:1;
}

#posTrackerInfoButton {
    width: 16px;
    height: 16px;
    background: url(./images/information.png) no-repeat;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
    position: relative;
    pointer-events: auto;
}

/*** Position result navigation on bottom ***/
#resultNavigation {
    position: absolute;
    left: 77%;
    color: white;
    bottom: 24px;
}

/*** Position tracker on bottom ***/
#posTracker {
    position: relative;
    float:left;
}

/*** Elevation tracker on bottom ***/
#elevTracker {
    position: relative;
    padding-left: 32px;
}

/*** Stylized fade on hover effect ***/
.defaultImg {
    background: url(./images/close_button.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.hoverImg {
    background: url(./images/close_buttonHover.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*** Small modifications on jQuery UI ***/
.ui-widget {
    font-size: 0.9em;
}

.ui-widget .ui-widget {
    font-size: 0.8em;
}

.ui-accordion-content {
    border-radius: 0px;
}

/*** Stylized scrollbar (only for webkit : chrome and safari) ***/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #DFDFDF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* No text selection for buttons */
.ui-button, .ui-accordion-header, .noSelect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

input::-moz-placeholder {
    color: rgba(127, 127, 127, .5);
}

/* About link color */
#about a {
    color: rgb(255, 173, 0);
}

/* Override jQuery UI 1.11 default styling for select menu */
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin-top: 0px;
}

#exportToolBtn {
    padding: 3px;
    margin-top: 10px;
    width: 107px;
    border : 1px solid #ffaf0f;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f58400+0,f68f17+51,ffaf0f+100 */
    background: #f58400; /* Old browsers */
    background: -moz-linear-gradient(top,  #f58400 0%, #f68f17 51%, #ffaf0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f58400 0%,#f68f17 51%,#ffaf0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f58400 0%,#f68f17 51%,#ffaf0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58400', endColorstr='#ffaf0f',GradientType=0 ); /* IE6-9 */
}

#exportToolBtn:hover {
    border : 1px solid #ffaf0f;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa43b+0,f8ab54+51,ffc44d+100 */
    background: #ffa43b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa43b 0%, #f8ab54 51%, #ffc44d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa43b 0%,#f8ab54 51%,#ffc44d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa43b 0%,#f8ab54 51%,#ffc44d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa43b', endColorstr='#ffc44d',GradientType=0 ); /* IE6-9 */
}

#exportToolBtn:active {
    border : 1px solid #ffaf0f;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea7d00+0,f78809+51,ffaa01+100 */
    background: #ea7d00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ea7d00 0%, #f78809 51%, #ffaa01 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ea7d00 0%,#f78809 51%,#ffaa01 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ea7d00 0%,#f78809 51%,#ffaa01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7d00', endColorstr='#ffaa01',GradientType=0 ); /* IE6-9 */
}

.whiteLink {
    color: #FFF;
}

.zoneToExport {
    text-align: center;
    margin-top : 25px;
}

.errorNameResolver {
    color: #F79A2E;
    margin-top: 35px;
}
