<!doctype html>

<title>Getting started with Earth</title>
<meta charset="utf-8" />

<link rel=stylesheet href="./resources/docs.css">

<link rel=stylesheet href=./resources/codemirror.css>
<script src=./resources/codemirror.js></script>
<script src=./resources/xml.js></script>
<script src=./resources/javascript.js></script>
<script src=./resources/css.js></script>
<script src=./resources/htmlmixed.js></script>

<style type=text/css>
    .CodeMirror {
        float: left;
        width: 50%;
        border: 1px solid black;
        font-size: xx-small;
    }
    
    iframe {
        width: 49%;
        float: left;
        height: 500px;
        border: 1px solid black;
        border-left: 0px;
    }
</style>

<article>
    $article
    <textarea id=code name=code>
        <!doctype html>
        <html>

        <head>
            <title>$title</title>
            <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/wallynm/jquery-loadmask@master/jquery.loadmask.min.css" /> $css
        </head>

        <body style="margin: 0; padding: 0;">
            $body

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.x-git.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

            <script type="text/javascript" src="../dist/mizar.js"></script>
            <script type="text/javascript">
                $script_js
            </script>
        </body>

        </html>
    </textarea>
    <iframe id="preview"></iframe>
    <script>
        var delay;
        // Initialize CodeMirror editor with a nice html5 canvas demo.
        var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            mode: 'text/html'
        });
        editor.on("change", function() {
            clearTimeout(delay);
            delay = setTimeout(updatePreview, 300);
        });

        function updatePreview() {
            var previewFrame = document.getElementById('preview');
            var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;
            preview.open();
            preview.write(editor.getValue());
            preview.close();
        }
        setTimeout(updatePreview, 300);
    </script>
</article>